<div class="Introduction">
    <div class="bodytext">
            <h2 >This website provides best courses for online learning.</h2>

            <p >This website is prototype design to teach people new courses and 
                    <br>help them learn new technologies by sitting at home.
            </p>

    </div>
    
   
            <img src="https://www.coe.int/documents/24832180/27713481/GE_Online_Training.jpg/d294e36d-a829-543c-a239-a226a650c649?t=1495200892000" alt="Home ">
    
   
</div>