.Introduction{
 
    display: flex;
   
}
img{
    float: right;
    padding-left:110px ;
    padding-top: 100px ;
    padding-bottom:110px ;
    width: 50%;
}

.bodytext{
    float: left;
    padding-left:30px;
    padding-top:100px ;
}
.bodytext p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bodytext h2 {
    font-family: 'Times New Roman', Times, serif;
}